/* .images img:not(.active) {
    display: none;
} */

/* tutte le img che non hanno active hanno display None */

.hidden {
    display: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img_cont {
    width: 400px;
    height: 400px;
    flex-shrink: 0;

}