/* .images img:not(.active) {
    display: none;
} */

/* tutte le img che non hanno active hanno display None */

.hidden {
    display: none;
}

img {
    max-width: 100%;
}

.img_cont {
    width: 200px;
    height: 200px;
    object-fit: cover;


}